<div id="mainmenu"><!--평가자-->
<ul>
<li><%= link_to "홈", "home" %></li>
<li><%= link_to "내 정보", "profile" %></li>
<li><%= link_to "평가할 리스트", "evaluation_request" %></li>
<li><%= link_to "평가한 개발물", "evaluation_result" %></li>
<li><%= link_to "세부/응용분야 관리", "sub_field" %></li>
<li><%= link_to "로그아웃", {:controller=>:sessions, :action=>:logout} %></li>
</ul>
</div>