<%= render "menu" %>

<%= render "users/edit_profile_form" %>

<div class="center_div">
<div id= "signup_box" style="top:29em;" class="box">
<ul>
<%= form_for @evaluator do |f| %>
    <li><strong>전문분야</strong></li>
      <li><hr /></li>
      <% # 전문분야들을 체크해주기 위한 부분 %>
      <% pro_field_ids = [] %>
      <% @evaluator.pro_fields.each do |pro_field| %>
          <% pro_field_ids.push pro_field.id %>
      <% end %>

      <% @pro_fields.each do |pro_field| %>
          <li>
              <%= pro_field.name %>
              <%= check_box :pro_field, pro_field.id, :checked => pro_field_ids.include?(pro_field.id) %>
          </li>
      <% end %>
      <% if @evaluator.pro_fields.empty? %>
          <li><div class="input_submit right" style="position:relative;height:2em"><%= f.submit "선정" %></div></li>
      <% else %>
          <li><div class="input_submit right" style="position:relative;height:2em"><%= f.submit "수정" %></div></li>
      <% end #if-else %>

<% end %>
</ul>
</div>
</div>