<div id="mainmenu"><!--개발자-->
<ul>
<li><%= link_to "홈", "home" %></li>
<li><%= link_to "내 정보", "profile" %></li>
<li><%= link_to "개발결과물", "development_results" %></li>
<li><%= link_to "용역 관리", "services" %></li>
<li><%= link_to "로그아웃", {:controller=>:sessions, :action=>:logout} %></li>
</ul>
</div>
