<% 
total_pay = 0
team.team_people.where(:state => 1).each do |team_person|
	total_pay += team_person.personal_pay
end
%>
<table class="team_info">
<tbody>
<tr>
<th rowspan="2" style="width:15%"><big><%= team.name %></big></th>
<th></th>
<th class="right" style="width:15%;padding-right:1%;color:#f66;">총 <%= total_pay %>만 원</th>
</tr>

<tr>
<td colspan="2">

<table class="team_info_inner">
<tbody>
<tr>
<th style="width:2.2em;">상태</th>
<th style="width:25%;">이름(아이디)</th>
<th style="">역할(전문분야)</th>
<th style="width:12%;">수당(만 원)</th>
</tr>
<% team.team_people.each do |team_person| %>
<tr>
  <td style="text-align:center">
	  <% if team_person.sw_developer_id == team.sw_developer.id %>
        <%= image_tag "icon/master.png", :class => "team_state_icon", :alt => "팀장" %>
      <% elsif team_person.state == 0 %>
        <%= image_tag "icon/uncertain.png", :class => "team_state_icon", :alt => "대기 중" %>
      <% elsif team_person.state == 1 %>
        <%= image_tag "icon/yes.png", :class => "team_state_icon", :alt => "수락" %>
      <% else %>
        <%= image_tag "icon/no.png", :class => "team_state_icon", :alt => "거절"  %>
      <% end %>
  </td>
  <td style="text-align:center"><%= render "users/user_link", :user => team_person.sw_developer.user %></td>
  <td><%= team_person.pro_field.name %></td>
  <td class="right" style="padding-right:1%"><%= team_person.personal_pay %></td>
  
</tr>
<% end %>
</tbody>
</table>

</td>
</tr>

</tbody>
</table>
