<%= render 'menu' %>

<div class="fullsize_box box">
<h2>알림</h2>
</div>

<% _no_notify = true %>

<% if @selected_services.size > 0 
	_no_notify = false
%>
    <!-- 관리자에게 선택된 팀이 있을 경우 -->
    <% @selected_services.each do |service| %>
   <div class="fullsize_box box notify">
        <span class="small_info_span"><%= service.name %></span> 팀에 선정되셨습니다.
        <div class="absolute_right"><%= link_to "용역 관리", "services" %></div>
   </div>
    <% end %>
<% end %>

<% if @invited_teams.size > 0 
	_no_notify = false
%>
    <!-- 자신이 초대된 팀이 있을 경우 -->
       <% @invited_teams.each do |team| %>
   <div class="fullsize_box box notify">
         <span class="small_info_span"><%= team.id %></span> 팀으로 부터 초대받았습니다.
         <div class="absolute_right"><%= link_to "용역 관리", "services" %></div>
   </div>
    <% end %>
<% end %>

<% if @changed_services.size > 0 
	_no_notify = false
%>
   <!-- 팀정보가 변경된 용역이 있을경우 -->
     <% @changed_services.each do |service| %>
   <div class="fullsize_box box notify">
     <span class="small_info_span"><%= service.name %></span> 팀의 <span class="small_msg_span">경매정보가 변경</span>되었습니다.
     <div class="absolute_right"><%= link_to "용역 관리", "services" %></div>
   </div>
   <% end %>
<% end %>

<% if _no_notify %>
	<div class="fullsize_box box small_msg">
		야호! 메시지가 하나도 없네요~
	</div>
<% end %>