<%= render 'menu' %>

<div class="fullsize_box box">
  <h2>계정 정보</h2>
</div>

<%= render 'users/profile' %>

<!-- 개발자용 프로필 -->
<div class="fullsize_box box">
<h3>개발자 정보 <span class="user_box_roll">(단가, 전문분야, 점수평점, 과거 용역 단가 평균 및 분산)</span></h3>
<hr />
<ul class="user_box_info">
  <% if @user.sw_developer.developer_pay %>
    <li>희망 단가 <span class="left_tab">: <%= @user.sw_developer.developer_pay %></span></li>
  <% else %>
    <li>희망 단가 <span class="left_tab">: 0</span></li>
  <% end %>

  <!-- 현재까지 선정된 용역들의 평균 단가 및 편차 -->
  <!-- 자신의 팀중에서 선택된 팀의 평균 단가 -->
  <%
    pay_array = []
    @user.sw_developer.teams.each do |team|
        if team.selected_service
          # 선택된 팀이 있는것
          team.team_people.where(:sw_developer_id => @user.sw_developer.id).each do |team_person|
            pay_array.push team_person.personal_pay
          end
        end
    end

     # 평균
     pay_means = 0
     pay_array.each do |pay|
       pay_means += pay
     end
     if pay_array.size > 0
       pay_means /= pay_array.size
     end

     # 분산
     pay_deviation = 0
     pay_array.each do |pay|
       pay_deviation += ((pay - pay_means) * (pay - pay_means))
     end
     if pay_array.size > 0
       pay_deviation /= pay_array.size
     end
  %>
  <li>과거 용역 단가 평균 <span class="left_tab">: <%= pay_means %></span></li>
  <li>과거 용역 단가 분산 <span class="left_tab">: <%= pay_deviation %></span></li>


  <li>전문분야 <span class="left_tab">:
    <% if @user.sw_developer.pro_fields.empty? %>
        아직 선택하지 않았습니다.
    <% else %>
        <ul class="right_inline_ul">
          <% @user.sw_developer.pro_fields.each do |pro_field| %>
              <li><%= pro_field.name %></li>
          <% end #each %>
        </ul>
    <% end #if-else %>
  </span></li>
  <li>
    <%
       _creativity = 0;
       _concentration = 0;
       _skill = 0;
       _will = 0;
       count = 0;

       @development_results.each do |development_result|
         development_result.evaluation_results.each do |result|
           _creativity += result.creativity;
           _concentration += result.concentration;
           _skill += result.skill;
           _will += result.will;
           count += 1;
         end
       end

       if count == 0
         count = 1
       end
    %>
    <div class="box fullsize_box">
                     <div class="bar_score">
                        <div class="bar_container">
                          <div class="bar_general bar_creativity" style="width:<%= _creativity / count / 4 %>%"></div>
                          <div class="bar_general bar_concentration" style="width:<%= _concentration / count / 4 %>%"></div>
                          <div class="bar_general bar_skill" style="width:<%= _skill / count / 4 %>%"></div>
                          <div class="bar_general bar_will" style="width:<%= _will / count / 4 %>%"></div>
                        </div>
                        <div class="bar_index">
                          <span class="score_number"><%= (_creativity + _concentration + _skill + _will) / count %></span>
                          <span class="underscore"> / 400 </span>
                        </div>
                      </div>

                      <ul>
                        <li class="font_creativity">창의력 : <span class="score_number"><%= _creativity / count %></span>
                          <span class="underscore"> / 100 </span><div class="star"></div></li>
                        <li class="font_concentration">몰입력 : <span class="score_number"><%= _concentration / count %></span>
                          <span class="underscore"> / 100 </span><div class="star"></div></li>
                        <li class="font_skill">기술력 : <span class="score_number"><%= _skill / count %></span>
                          <span class="underscore"> / 100 </span><div class="star"></div></li>
                        <li class="font_will">의지력 : <span class="score_number"><%= _will / count %></span>
                          <span class="underscore"> / 100 </span><div class="star"></div></li>
                      </ul>
    </div>
  </li>
</ul>
</div>

<div class="fullsize_box box">
  <h3>개발결과물 목록</h3>
  <hr />
  <% if @development_results.empty? %>
      <div class="small_msg">업로드한 개발결과물이 없습니다!</div>
      <hr />
  <% else %>
      <% @development_results.each do |development_result| %>
          <div>
            <h4 class="developer_upload pseudo_link dropdown"><%= development_result.name %> </h4>
            <ul class="developer_upload_list" style="display:none">
              <li>고유 관리번호 : <%= development_result.id %></li>
              <li>전문분야 :
                <% if development_result.pro_fields.empty? %>
                    <div class="small_msg">평가 대기 중입니다.</div>
                <% else %>
                	<div>
                    <ul class="right_inline_ul">
                      <% development_result.pro_fields.each do |pro_field| %>
                          <li><%= pro_field.name %></li>
                      <% end #each %>
                    </ul>
                	</div>
                <% end #if-else %>
              </li>

              <li>세부/응용분야 :
                <% if development_result.sub_fields.empty? %>
                    <div class="small_msg">세부/응용분야가 없습니다.</div>
                <% else %>
                    <div>
                      <ul class="right_inline_ul">
                        <% development_result.sub_fields.each do |sub_field| %>
                            <li><%= sub_field.name %></li>
                        <% end #each %>
                      </ul>
                    </div>
                <% end #if-else %>
              </li>

              <li>첨부자료 :
                <ul>
                  <% development_result.result_files.each do |result_file| %>
                      <li><%= link_to result_file.path, "/data/" + result_file.path, :target => '_blank' %></li>
                  <% end %>
                </ul>
              </li>

              <li>평가결과 :
              <%
		      if development_result.state == 1
		      	_msg = "평가 완료"
		      elsif development_result.state == 0
		      	_msg = "평가 대기/진행 중"
		      end
		      %>
		      <span><%= _msg %></span>
                <% if development_result.evaluation_results.empty? %>
                    <div class="small_msg">평가 대기 중입니다.</div>
                <% else %>
                    <div class="box fullsize_box">

                      <%
                         _creativity = 0;
                         _concentration = 0;
                         _skill = 0;
                         _will = 0;
                         count = 0;

                         development_result.evaluation_results.each do |result|
                           _creativity += result.creativity;
                           _concentration += result.concentration;
                           _skill += result.skill;
                           _will += result.will;
                           count += 1;
                         end
                      %>

                      <div class="bar_score">
                        <div class="bar_container">
                          <div class="bar_general bar_creativity" style="width:<%= _creativity / count / 4 %>%"></div>
                          <div class="bar_general bar_concentration" style="width:<%= _concentration / count / 4 %>%"></div>
                          <div class="bar_general bar_skill" style="width:<%= _skill / count / 4 %>%"></div>
                          <div class="bar_general bar_will" style="width:<%= _will / count / 4 %>%"></div>
                        </div>
                        <div class="bar_index">
                          <span class="score_number"><%= (_creativity + _concentration + _skill + _will) %></span>
                          <span class="underscore"> / 400 </span>
                        </div>
                      </div>

                      <ul>
                        <li class="font_creativity">창의력 : <span class="score_number"><%= _creativity / count %></span>
                          <span class="underscore"> / 100 </span><div class="star"></div></li>
                        <li class="font_concentration">몰입력 : <span class="score_number"><%= _concentration / count %></span>
                          <span class="underscore"> / 100 </span><div class="star"></div></li>
                        <li class="font_skill">기술력 : <span class="score_number"><%= _skill / count %></span>
                          <span class="underscore"> / 100 </span><div class="star"></div></li>
                        <li class="font_will">의지력 : <span class="score_number"><%= _will / count %></span>
                          <span class="underscore"> / 100 </span><div class="star"></div></li>
                      </ul>


                    </div>
                <% end #if-else %>
              </li>
            </ul>
            <hr />
          </div>
      <% end #each %>
  <% end #if-else %>
</div>

<script type="text/javascript">
    $(".developer_upload").click(function(){
        if ($(this).parent().find(".developer_upload_list").is(":hidden")) {
            $(this).parent().find(".developer_upload_list").slideDown(350);
            $(this).parent().find(".bar_general").width(0);
            $(this).parent().find(".bar_creativity").animate({width:$(this).parent().find(".font_creativity .score_number").html() / 4 + "%"}, 1000);
            $(this).parent().find(".bar_concentration").delay(200).animate({width:$(this).parent().find(".font_concentration .score_number").html() / 4 + "%"}, 1000);
            $(this).parent().find(".bar_skill").delay(400).animate({width:$(this).parent().find(".font_skill .score_number").html() / 4 + "%"}, 1000);
            $(this).parent().find(".bar_will").delay(600).animate({width:$(this).parent().find(".font_will .score_number").html() / 4 + "%"}, 1000);
        }
        else {$(this).parent().find(".developer_upload_list").slideUp(350);}
    });

    $(".star").raty({
        half : true
    });

    $(".score_number").keyup(function(){
        $(this).parent().find(".star").raty('score', this.innerHTML / 20.0).raty('readOnly', true);
    });

    $(".score_number").keyup();

</script>
