<h1>모든 유저 목록</h1>
<ul>
    <li><%= @users %></li>
</ul>
<h1>개발자 목록</h1>
<ul>
  <li><%= @sw_developers %></li>
</ul>
<h1>평가자 목록</h1>
<ul>
  <li><%= @evaluators %></li>
</ul>
<h1>관리자 목록</h1>
<ul>
  <li><%= @administrators %></li>
</ul>
<h1>용역의뢰자 목록</h1>
<ul>
  <li><%= @requestors %></li>
</ul>


<%if notice%>
    <script>
      // notice 사용 예제
        //alert("<%= notice %>");
        //$(window.location.replace("/list/"))
    </script>
<%end%>