
<div class="fullsize_box box">
<h2>모든 유저 목록</h2>
<p>
<%= @users %>
</p>
<h3>개발자 목록</h3>
<p>
<%= @sw_developers %>
</p>
<h3>평가자 목록</h3>
<p>
<%= @evaluators %>
</p>
<h3>관리자 목록</h3>
<p>
<%= @administrators %>
</p>
<h3>용역의뢰자 목록</h3>
<p>
<%= @requestors %>
</p>
</div>

<%if notice%>
    <script>
      // notice 사용 예제
        //alert("<%= notice %>");
        //$(window.location.replace("/list/"))
    </script>
<%end%>