<div id="mainmenu"><!--관리자-->
<ul>
<li><%= link_to "홈", "home" %></li>
<li><%= link_to "내 정보", "profile" %></li>
<li><%= link_to "내 정보 수정하기", "edit_profile" %></li>
<li><%= link_to "평가 요청", "evaluation_request" %></li>
<li><%= link_to "용역 개발자 선정", "manage_services" %></li>
<li><%= link_to "전문분야 관리", "pro_field" %></li>
<li><%= link_to "세부/응용분야 관리", "sub_field" %></li>
<li><%= link_to "로그아웃", {:controller=>:sessions, :action=>:logout} %></li>
</ul>
</div>