<%= render 'menu' %>

<%if notice%>
    <script>
        alert("<%= notice %>");
    </script>
    <% notice = nil %>
<%end%>

<div id="universe_prison" style="display:none">
우주감옥ㅋ
</div>

<div class="fullsize_box box">
<h2>평가 요청</h2>
</div>
<div class="fullsize_box box fitting_list">

<div class="left_box half_box">
  <h3>평가 요청 항목</h3>
  <hr />
  <% @development_results.each do |development_result| %>
      <div class="half_inner_box">
        <h3 class="pseudo_link ev_req_t" id="ev_req_<%= development_result.id %>"><%= development_result.name %></h3>
        <div class="right"><%= render "users/user_link", :user => development_result.sw_developer.user %></div>
      <hr />
      
      <div class="ev_req_d" id="ev_req_<%= development_result.id %>_c" style="display:none">
      <div><h4>첨부자료</h4>
      <hr />
        <ul>
        <% development_result.result_files.each do |result_file| %>
          <li><%= link_to result_file.path, "/data/" + result_file.path, :target => '_blank' %></li>
        <% end %>
        </ul>
      </div>
      
      <p></p>
      
      <div><h4>전문분야</h4>
      <hr />
        <% if development_result.pro_fields.empty? %>
		<div class="small_msg">결정되지 않았습니다.</div>
		<% end #if-else %>
        <% # 전문분야들을 체크해주기 위한 부분 %>
        <% pro_field_ids = [] %>
        <% development_result.pro_fields.each do |pro_field| %>
            <% pro_field_ids.push pro_field.id %>
        <% end %>

        <%= form_for development_result, :format => :json do |f| %>
            <% @pro_fields.each do |pro_field| %>
                <%= check_box :pro_field, pro_field.id, :checked => pro_field_ids.include?(pro_field.id) %>
                <%= pro_field.name %>
            <% end %>
            &nbsp;&nbsp;
            <% if development_result.pro_fields.empty? %>
            <div class="input_submit right"><%= f.submit "선정" %></div>
			<% else %>
            <div class="input_submit right"><%= f.submit "수정" %></div>
			<% end #if-else %>
        <% end %>
      </div>
      
      <p></p>
      
      <div><h4>평가결과</h4>
      <hr />
      
      <% is_all_evaluated = true %>
      <% development_result.evaluators.each do |evaluator| %>
        <% if not development_result.evaluation_results.where(:evaluator_id => evaluator.id).exists? %>
            <% is_all_evaluated = false %>
        <% end %>
      <% end %>
      
      <% if is_all_evaluated and development_result.evaluation_results.size >= 3 %>
        <%= form_for development_result do |f| %>
          <%= f.hidden_field :state, :value => 1 %>
          <div class="input_submit right"><%= f.submit "평가 완료하기" %></div>
        <% end %>
      <% elsif development_result.evaluation_requests.size < 3 %>
        <div class="small_msg">3명 이상 평가요청을 해야 합니다.</div>
      <% else %>
        <div class="small_msg">현재 평가 중입니다.</div>
      <% end %>
      
      <% if not development_result.evaluation_results.empty? %>
      <ol>
       <% development_result.evaluators.each do |evaluator| %>
       <li>
        <%= render "users/user_link", :user => evaluator.user %> : 
        <% if development_result.evaluation_results.where(:evaluator_id => evaluator.id).exists? %>
            <% evaluation_result = development_result.evaluation_results.where(:evaluator_id => evaluator.id).first %>
            <span>평가 완료</span>
            <div>
            <ul class="left_inline_ul">
              <li class="font_creativity">창의력 : <%= evaluation_result.creativity %></li>
              <li class="font_concentration">몰입력 : <%= evaluation_result.concentration %></li>
              <li class="font_skill">기술력 : <%= evaluation_result.skill %></li>
              <li class="font_will">의지력 : <%= evaluation_result.will %></li>
            </ul>
            </div>
        <% else %>
            <span>평가 대기</span>
        <% end %>
       </li>
       <% end #each %>
      </ol>
      <% end #if %>

      </div>

      <div><h4> 평가 요청 </h4>
      <hr />
        <%= form_for :evaluator do |f| %>
           <ol>
            <% @evaluators.each do |evaluator| %>
                <% unless development_result.evaluators.exists?(evaluator) %>
                    <li><%= f.check_box evaluator.user.id %>
                      <%= render "users/user_link", :user => evaluator.user %>
                    </li>
                <% end %>
            <% end %>
           </ol>
           <div>
            <%= hidden_field :development_result, :id, :value => development_result.id %>
            <div class="input_submit right"><%= f.submit "선택한 평가자에게 요청하기" %></div>
           </div>
        <% end %>
      </div>

        <!-- 평가 요청 완료하기 -->
        <hr />
        


        
      </div>
      </div>
  <% end %>
</div>

<div id="ev_req_selected" class="right_box half_box">
</div>

<script type="text/javascript">
$(".ev_req_t").click(function()
{
	$("#ev_req_selected .ev_req_d").hide();
	$("#universe_prison").append($("#ev_req_selected  .ev_req_d"));
	$("#ev_req_selected").html($("#"+this.id+"_c"));
	$("#"+this.id+"_c").show();
	$(".fitting_list").scrollTop(0);
});
</script>

</div>