<%= render 'menu' %>

<div class="fullsize_box box">
  <h2>전문분야 관리</h2>
</div>

<div class="fullsize_box box">
  <h3>전문분야 추가</h3>
  <p>
    <%= form_for :sub_field, :url => "/pro_fields" do |f| %>
        <%= f.text_field :name %>
        <%= f.submit "추가" %>
    <% end %>
  </p>
</div>

<div class="user_box fullsize_box box">
  <h3>전문분야 목록</h3>
  <hr />
  <ul>
      <% @pro_fields.each do |pro_field| %>
          <li>
            <%= pro_field.name %>
            <div class="right"><%= link_to "삭제", pro_field, :method => :delete, :data => {:confirm => "정말 삭제하시겠습니까?"} %></div>
            <hr />
          </li>
      <% end %>
  </ul>
</div>
