<%= render 'menu' %>

<h1>기본 데이터</h1>
<div>
  <p> 이름 : <%= @current_user.name %> </p>
  <p> 아이디 : <%= @current_user.login_id %> </p>
  <p> 역할 : <%= @current_user.roll %> </p>
</div>

<h1>전체 데이터</h1>
<div>
  <%= @current_user.inspect %>
</div>