<%= render 'menu' %>

<div class="fullsize_box box">
<h2>용역 보기</h2>
</div>




<div class="fullsize_box box">
<% @services.each do |service| %>
	<%
	_confirm_msg = "정말 이 팀을 용역 대상으로 선택하시겠습니까?"
	if Time.now.utc < service.due_date
		_confirm_msg += "\\n  [경고: 공지한 마감 시각 이전입니다!]"
	end
	%>
    <div>
      <h3 style="margin-bottom:1.0em"><%= service.name %></h3>
      <ul>
      <li>용역 정보 : <%= link_to service.service_file_path, "/data/" + service.service_file_path, :target => '_blank' %></li>
      <li>모집 마감 시간 : <%= service.due_date %></li>
      <li>개발자 평가 가치 : </li>
      </ul>
      <div class="bar_score" style="margin:1.0em auto 0.75em">
      <div class="bar_container">
        <div class="bar_general bar_creativity" style="width:<%= service.creativity %>%;"></div>
        <div class="bar_general bar_concentration" style="width:<%= service.concentration %>%;"></div>
        <div class="bar_general bar_skill" style="width:<%= service.skill %>%;"></div>
        <div class="bar_general bar_will" style="width:<%= service.will %>%;"></div>
      </div>
      </div>
      <ul class="service_points">
<li class="font_creativity">창의력 : <%= service.creativity %>%</li>
<li class="font_concentration">몰입력 : <%= service.concentration %>%</li>
<li class="font_skill">기술력 : <%= service.skill %>%</li>
<li class="font_will">의지력 : <%= service.will %>%</li>
      </ul>
    </div>
    <div class="service_full_spec box">
      <h4>완성된 팀 정보</h4>
      <hr />

      <!-- 참여중인 팀정보 (완성된 팀) 시작 -->
          <% total_number_of_developers = 0 %>
          <% service.service_pro_fields.each do |service_pro_field| %>
              <% total_number_of_developers += service_pro_field.number_of_developers %>
          <% end %>

          <% service.teams.each do |team| %>
              <% if team.team_people.size == total_number_of_developers %>
                <div class="service_full_spec box">
                  <%= render "/sw_developers/team_information", :team => team %>

                  <%= form_for service, :url => "/services/select_team.json" do |f| %>
                      <%= f.hidden_field :id, :value => service.id %>
                      <%= hidden_field :team, :id, :value => team.id %>
                      <div class="right input_submit" style="margin:0.25em 2px 0">
                        <%= f.submit "이 팀 최종 선택하기", :onclick => "return confirm('" + _confirm_msg + "');" %>
                      </div>
                  <% end %>
                </div>
              <% end %>
          <% end %>
      <!-- 참여중인 팀정보 (완성된 팀) 끝  -->
    </div>
    <hr />
<% end %>
</div>